<section id="slider"><!--slider-->
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div id="slider-carousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators" >
              <li style="background-color: black;" data-target="#slider-carousel" data-slide-to="0" class="active"></li>
              <li style="background-color: black;" data-target="#slider-carousel" data-slide-to="1"></li>
              <li style="background-color: black;" data-target="#slider-carousel" data-slide-to="2"></li>
            </ol>
            
            <div class="carousel-inner">
              <div class="item active">
                <div class="col-sm-6">
                  <h1><span>Manga</span>-SHOPPER</h1>
                  <h2></h2>
                  <p>For someone, this is only a book. But with another, it is whole world </p>
                </div>
                <div class="col-sm-6">
                  <img src="assets/slider1.jpg" class="girl img-responsive" alt="" />
                </div>
              </div>
              <div class="item">
                <div class="col-sm-6">
                  <h1><span>Manga</span>-SHOPPER</h1>
                  <h2></h2>
                  <p>For someone, this is only a book. But with another, it is whole world </p>
                </div>
                <div class="col-sm-6">
                  <img src="assets/slider2.jpg" class="girl img-responsive" alt="" />
                </div>
              </div>
              
              <div class="item">
                <div class="col-sm-6">
                  <h1><span>Manga</span>-SHOPPER</h1>
                  <h2></h2>
                  <p>For someone, this is only a book. But with another, it is whole world</p>
                </div>
                <div class="col-sm-6">
                  <img src="assets/slider3.jpg" class="girl img-responsive" alt=""  style="height: 475px;"/>
                </div>
              </div>
              
            </div>
            
            <a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
              <i class="fa fa-angle-left"></i>
            </a>
            <a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
              <i class="fa fa-angle-right"></i>
            </a>
          </div>
          
        </div>
      </div>
    </div>
  </section><!--/slider-->
  